@charset "utf-8";
/* CSS Document */

h2{
	margin:30px;
}

#header-nav {
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}


.navbar-nav .nav-link{
	text-align: center;
	background-color: white;
	border: solid 1px black;
}

.navbar-nav {
	border: solid black;
}

h1{
	padding:20px;
}

.col-12{
	background-color:gray;
	height: 1000px;
}
p{
	margin:1%;
}

@media (max-width: 570px){
	.box{
		width:70%;
		margin-left:auto;
		margin-right:auto;
	}
}







